.filter-container{
  background-color: wheat;
  padding: 25px;
  border-radius: 15px;
  border:1px solid black;
}
.filter-input{
  width: 100%;
  height:25px;
  border-radius: 15px;
  border:1px solid black;
  padding-left:10px;
  cursor: pointer;
}
.filter-input:focus{
  outline: none;
  border-color: #FECA1D ;
}